body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

#top {
    margin-top: 15px;
}

.clear {
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
}

.remove-border {
    border: 0;
    color: transparent;
}

.table > tbody > tr > td {
    padding: 0;
}

table {
    border-collapse: collapse;
}

    table td,
    table th {
        border: 1px solid black;
    }

    table tr:first-child th {
        border-top: 0;
    }

    table tr:last-child td {
        border-bottom: 0;
    }

    table tr td:first-child,
    table tr th:first-child {
        border-left: 0;
    }

    table tr td:last-child,
    table tr th:last-child {
        border-right: 0;
    }

.table-group {
    padding: 5px;
    background-color: dimgray;
    color: white;
    text-indent: 5px;
    vertical-align: middle;
}

.table-group-caption {
    padding: 5px;
    margin: 5px;
}

.table-col-right {
    text-align: right;
    margin: 0;
    padding-right: 5px;
}

.table-col-left,
.table-col-left > p {
    text-align: left;
    margin: 0;
    padding-left: 5px;
    vertical-align: middle;
}

.table-col,
.table-col > p {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

    .table-col > p {
        padding: 0;
    }

.table > tbody > tr > .table-col,
.table > tbody > tr > .table-col-left {
    vertical-align: middle;
}

.table > tbody > tr > .table-col-left {
    padding-left: 5px;
}

.table > tbody > tr > .table-col > p {
    padding: 0;
    margin: 0;
}

.displayed {
    display: inline-block;
    /*padding-bottom: 2px;*/
    /*display: block;*/
    padding: 2px 0 3px 1px;
    /*margin-left: auto;
    margin-right: auto;*/
    /*display: ;*/
}

#tabs-all,
#tabs-finished,
#tabs-upcoming {
    padding: 5px 2px 5px 2px;
}

.sidebar-li-item {
    font-size: 0.8em;
}

.caption {
    padding: 5px;
    margin-bottom: 0;
    background-color: grey;
    color: white;
}

.table > tbody > tr > .caption {
    padding: 3px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-button:active {
    border: none;
    background-color: #18bc9c;
    background: #18bc9c;
}

.form-control {
    width: auto;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

td.emblem-right {
    padding: 20px;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
    text-align: right;
}

td.emblem-left {
    padding: 20px;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
    text-align: left;
}


.content-lg {
    padding: 0 10px;
    line-height: 19px;
    height: 19px;
    text-align: center;
    align-content: center;
}

.table-h2h {
    width: 100%;
    line-height: 32px;
    margin: 10px 0 10px 0;
}

td.team-right {
    text-align: right;
}

td.team-left {
    text-align: left;
}

tr td a {
    text-decoration: none;
}

.add-item {
    margin: 5px 0px 5px 2px;
}

.ttt {
    margin: 0;
    width: auto;
}

.jumbo-fit {
    background-image: url(/Content/Images/front-page.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:aliceblue;
}
