
<div class="col-lg-3 col-md-3 col-sm-4 clear">
    <div class="list-group">
        @Html.ActionLink("Държави", "Countries", "Admin", new { @class = "list-group-item" })
        @Html.ActionLink("Състезания", "Competitions", "Admin", new { @class = "list-group-item" })
        <a class="list-group-item" href="#">Buttons</a>
        <a class="list-group-item" href="#">Typography</a>
        <a class="list-group-item" href="#">Tables</a>
        <a class="list-group-item" href="#">Forms</a>
        <a class="list-group-item" href="#">Navs</a>
        <a class="list-group-item" href="#">Indicators</a>
        <a class="list-group-item" href="#">Progress bars</a>
        <a class="list-group-item" href="#">Containers</a>
        <a class="list-group-item" href="#">Dialogs</a>
    </div>
</div>
