
<div class="col-lg-3 col-md-3 col-sm-4 clear">
    <div class="list-group">
        @Html.ActionLink("Държави", "Countries", "Admin", new { @class = "list-group-item" })
        @Html.ActionLink("Състезания", "Competitions", "Admin", new { @class = "list-group-item" })
        @Html.ActionLink("Футболисти", "FootballPlayers", "Admin", new { @class = "list-group-item" })
        @Html.ActionLink("Футболни отбори", "FootballTeams", "Admin", new { @class = "list-group-item" })
    </div>
</div>
